version: "3"
services:
  elasticsearch:
    image: registry.cn-hangzhou.aliyuncs.com/duc-cnzj/elasticsearch_with_ik:6.4.2
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    volumes:
      - esdata:/usr/share/elasticsearch/data
    expose:
      - "9200"
    networks:
      - appnet
  frontend:
    image: registry.cn-hangzhou.aliyuncs.com/duc-cnzj/blog_frontend:latest
    working_dir: /app
    networks:
      - appnet
    volumes:
      - ./front-nginx.conf:/etc/nginx/nginx.conf
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    dns_search:
      - www.goduc.cc
      - goduc.cc
  background:
    image: registry.cn-hangzhou.aliyuncs.com/duc-cnzj/blog_backgroung:latest
    working_dir: /app
    networks:
      - appnet
    ports:
      - 8080:80
    dns_search:
      - admin.goduc.cc
  app:
    image: registry.cn-hangzhou.aliyuncs.com/duc-cnzj/blog_app:latest
    working_dir: /var/www/html
    ports:
      - 8001:80
    networks:
      - appnet
    volumes:
      - ./app.conf:/etc/nginx/sites-available/default
      - ./images:/var/www/html/public/images
      - ./app-nginx.conf:/etc/nginx/nginx.conf
      - ./www.conf:/etc/php/7.2/fpm/pool.d/www.conf
      - installdata:/usr/bin
      - ./init.sh:/var/www/html/init.sh
      - ./php.ini:/etc/php/7.2/fpm/php.ini
      - ./backups:/var/www/html/storage/app/backups
    environment:
      DB_HOST: db
      DB_DATABASE: homestead
      DB_PORT: 3306
      DB_USERNAME: homestead
      DB_PASSWORD: secret
      REDIS_HOST: redis
      REDIS_PORT: 6379
      BACKUP_ENABLED: 'true'
      BASH_NAMES: init.sh
    command: /bin/bash -c "envsubst < /var/www/html/.env.template > /var/www/html/.env && start-container"
  redis:
    image: redis:alpine
    networks:
      - appnet
    volumes:
      - redisdata:/data
    ports:
      - 16379:6379
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
    networks:
      - appnet
    volumes:
      - dbdata:/var/lib/mysql
  echo-server:
    image: registry.cn-hangzhou.aliyuncs.com/duc-cnzj/laravel-echo-server
    ports:
     - "6001:6001"
    restart: always
    networks:
      - appnet
    volumes:
     - ./laravel-echo-server.json:/usr/src/app/laravel-echo-server.json
    depends_on:
      - app
      - redis
networks:
  appnet:
    driver: bridge
volumes:
  dbdata:
    driver: local
  esdata:
    driver: local
  installdata:
    driver: local
  redisdata:
    driver: local
